@import '../../styles/colors.scss';
.info-value {
  color: $text-light;
  font-size: 48px;
  text-shadow: 0px 1px 10px rgba(204, 204, 204, 0.45);
  text-align: right;
}

.info-key {
  font-size: 18px;
  color: $text-gray-dark;
  padding-left: 16px;
  padding-top: 12px;
}