$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$cream-yellow: hsl(53, 100%, 72%);
$bg-color: hsl(206, 15%, 15%);
$bg-color-dark: hsl(205, 15%, 12%);
$bg-color-darkest: hsl(224, 24%, 6%);
$bg-color-light: hsl(207, 8%, 17%);
$text-gray: hsl(0, 0%, 60%);
$text-light: hsl(0, 0%, 80%);
$text-gray-dark: hsl(0, 0%, 30%);
$transparent: hsla(0, 0%, 0%, 0);
$icon-text-color: hsl(0, 0%, 50%);
$icon-text-color-dark: hsl(0, 0%, 30%);
$table-header-background: hsl(220, 7, 13);
$table-background: hsl(220, 7, 16);
:export {
  colorBlack: $black;
  creamYellow: $cream-yellow;
  textGray: $text-gray;
  textLight: $text-light;
  creamYellow: $cream-yellow;
}
