$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$cream-yellow: hsl(53, 100%, 72%);
$bg-color: hsl(214, 14%, 9%);
$bg-color-light: hsl(210, 9%, 20%);
$bg-color-dark: hsl(210, 9%, 9%);
$title-color: hsl(214, 17%, 3%);
$sidebar-color: hsl(214, 19%, 6%);
$box-color: hsl(214, 20%, 3%);
$text-gray: hsl(0, 0%, 80%);
$text-gray-dark: hsl(0, 0%, 60%);
$transparent: hsla(0, 0%, 0%, 0);
$icon-text-color: hsl(0, 0%, 50%);
$icon-text-color-dark: hsl(0, 0%, 30%);
:export {
  colorBlack: $black;
  creamYellow: $cream-yellow
}