$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$cream-yellow: hsl(53, 100%, 72%);

$bg-color: hsl(210, 9%, 15%);
$bg-color-light: hsl(210, 9%, 20%);

$title-color: hsl(210, 18%, 8%);

$text-gray: hsl(0, 0%, 80%);

$transparent: hsla(0, 0%, 0%, 0);
