@import "../styles/metrics.scss";
@import "../styles/colors.scss";
.sidebar {
  width: $sidebar-width;
  float: left;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  background-color: $bg-color-dark;
  height: 100%;
}

.sidebar-link {
  text-decoration: none;
}

.sidebar-box {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
}

.sidebar-text {
  font-weight: 600;
  font-size: 20px;
  color: $text-gray;
  vertical-align: middle;
  padding-left: 4px;
}

.sidebar-icon {
  vertical-align: middle;
  color: $icon-text-color-dark;
  padding-bottom: 4px;
}

.sidebar-link:hover .sidebar-text {
  color: $text-light;
}

.active-tab {
  box-shadow: inset 2px 0 0 0 $cream-yellow;
}

.active-tab .sidebar-text {
  color: $text-light;
}

.filter-heading {
  color: $text-light;
  text-align: center;
  margin-top: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: normal;
}

.filter-checkbox-label {
  margin-left: 32px;
  padding-left: 32px;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom Checkbox */

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background: $cream-yellow;
  box-shadow: 0px 1px 2px rgba(255, 238, 112, 0.4);
  border-radius: 3px;
}

.filter-checkbox-label:hover {
  color: $text-light;
}

.filter-checkbox-label:hover input ~ .checkmark {
  box-shadow: 0px 2px 8px rgba(255, 238, 112, 0.6);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.filter-checkbox-label .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
