@import '../styles/metrics.scss';
@import '../styles/colors.scss';
.sidebar {
  width: $sidebar-width;
  float: left;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  background-color: $sidebar-color;
  height: 100%;
}

.sidebar-link {
  text-decoration: none;
}

.sidebar-box {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
}

.sidebar-text {
  font-weight: bold;
  color: $text-gray-dark;
  vertical-align: middle;
  padding-left: 4px;
}

.sidebar-icon {
  vertical-align: middle;
  color: $icon-text-color-dark;
  padding-bottom: 4px;
}

.sidebar-link:hover .sidebar-box {
  border-radius: 8px;
  background-color: $bg-color-dark;
}

.sidebar-link:hover .sidebar-text {
  color: $text-gray;
}

.active-tab {
  box-shadow: inset 2px 0 0 0 $cream-yellow;
}

.active-tab .sidebar-text {
  color: $text-gray;
}

.filter-heading {
  text-align: center;
  margin-top: 100px;
}

.filter-checkbox-label {
  margin-left: 16px;
  display: block;
  color: $text-gray-dark;
  cursor: pointer;
}

.custom-checkbox::before {
  transition: border .2s ease;
  border: 1px solid $cream-yellow;
  background: $cream-yellow;
}

.custom-checkbox:checked {
  border: 1px solid $cream-yellow;
  background: $cream-yellow;
}