@import "../styles/colors.scss";
@import "../styles/metrics.scss";
.title-bar {
  height: $titlebar-height;
  background-color: $title-color;
  box-shadow: 0 2px 10px 0px hsla(53, 22%, 36%, 0.08);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 25;
}

.app-name {
  color: $cream-yellow;
  display: flex;
  justify-content: center;
  line-height: $titlebar-height;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(255, 238, 112, 0.4);
}